body {
  background: #ee354f;
  font-family: 'Oswald', sans-serif;
}
.game-header {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  color: #000000;
  text-align: center;
  margin-bottom: 5px;
}
.game-button {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background: #000000;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
}
.game-button:hover {
  text-decoration: none;
  color: #000000;
  background: #FFFFFF;
}
.game-button:active {
  text-decoration: none;
  color: #FFFFFF;
  background: #000000;
}
.game-button:visited {
  text-decoration: none;
  color: #FFFFFF;
  background: #000000;
}
.pipe {
  font-size: 18px;
  color: #000000;
}
.player-data {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 18px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.player {
  padding: 5px;
}
.player-active {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}
.click-count {
  margin-left: 25px;
}
/* Card styles */
.card-default {
  display: block;
  background: #000000 url('../images/union-logo.png') no-repeat center center;
  background-size: 75%;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  color: #FFFFFF;
  font-size: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  box-shadow: 2px 2px 5px #000000;
  cursor: pointer;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
.rotate {
  transform: rotateY(-180deg);
}
.number-display {
  display: none;
  padding-top: 25px;
  height: 100%;
  width: 100%;
  transform: rotateY(-180deg);
}
/* Game complete modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #ee354f;
  margin: 15% auto;
  padding: 20px;
  padding-bottom: 30px;
  width: 45%;
  text-align: center;
  color: #FFFFFF;
}
.modal-content h1 {
  font-family: 'Oswald', sans-serif;
}
#game-next {
  display: block;
}
#game-complete-v1 {
  display: none;
}
#game-complete-v2 {
  display: none;
}
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}
.close:hover,
.close:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
/* Created by styles */
.created_by {
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
}
.created_by a {
  text-decoration: none;
  color: #000000;
}
.created_by a:hover {
  text-decoration: underline;
  color: #000000;
}
.created_by a:visited {
  text-decoration: none;
  color: #000000;
}
